%h1 All Musics

%table#music
  %thead
    %tr
      %th Track
      %th Author
      %th Album
      %th Genre
      %th Year
  %tbody
    - @musics.each do |music|
      %tr
        %td= music.title
        %td= music.author 
        %td= music.album 
        %td= music.genre 
        %td= music.year 
        %td= link_to "Details", music_path(music)
</div>
#{link_to 'Add new track', new_music_path} - #{link_to 'Login', login_path}
</div>
