-#Body
%div.container-fluid.mainContainer.displayContainer
  %h1 All Musics
  -#Aggiunta classe Table, per visualizzare una Tabella
  %table.table#music  
    %thead
      %tr
        %th
        %th= link_to "Track", :sort => "Title"
        %th= link_to "Author", :sort => "author"
        %th= link_to  "Album", :sort => "album"
        %th= link_to "Genre", :sort => "genre"
        %th= link_to "Year", :sort => "year"
    %tbody
      - @musics.each do |music|
        %tr
          %td= image_tag @albums[music.title], :style => "max-height: 100px"
          %td= music.title
          %td= music.author 
          %td= music.album 
          %td= music.genre 
          %td= music.year 
          %td= link_to "Details", music_path(music)
  
  -#Bottone per creazione nuovo brano
  %button.btn.btn-secondary 
    %span.fa.fa-plus
    #{link_to "Add new track", new_music_path, {:style=>'color: white; text-decoration: none; font-weight: bold'}}
