-#Navigation Bar
%nav.navbar.navbar-dark.bg-dark
  -#Logo
  #{link_to image_tag('Logo.png', size: '30x31', class: 'border rounded'), music_index_path}  
  -#Elemento a destra
  %div
    -#Mostra il nome dell'utente
    %span{:style=>'color: white', :href=>'#'}Salve #{@currentUser.name}
    -#Mostra il bottone per il Logout || class(navRight) in music.scss
    
    %button.btn.btn-light.navRight
      #{link_to 'Logout', logout_path, class: "logoutBtn", data: {confirm: 'Are you sure to leave?'}} 
      %span.fa.fa-sign-out

-#Body
%div.container-fluid.mainContainer
  %h1 All Musics
  -#Aggiunta classe Table, per visualizzare una Tabella
  %table.table#music  
    %thead
      %tr
        %th Track
        %th Author
        %th Album
        %th Genre
        %th Year
    %tbody
      - @musics.each do |music|
        %tr
          %td= music.title
          %td= music.author 
          %td= music.album 
          %td= music.genre 
          %td= music.year 
          %td= link_to "Details", music_path(music)
  
  -#Bottone per creazione nuovo brano
  %button.btn.btn-secondary 
    %span.fa.fa-plus
    #{link_to 'Add new track', new_music_path, {:style=>'color: white; text-decoration: none; font-weight: bold'}}
