-#Navigation Bar
%nav.navbar.navbar-dark.bg-dark
	%a{:style=>'color: white', :href=>'#'} Logo
	-#Elemento a destra
	%div
		-#Mostra il nome dell'utente
		%span{:style=>'color: white', :href=>'#'}Salve #{@currentUser.name}
		-#Mostra il bottone per il Logout
		%button.btn.btn-light{:style=>'margin-left: 10px'} #{link_to 'Logout', logout_path, {:style=>'color: #007bff; text-decoration: none; font-weight: bold'}}

%div.container-fluid{:style=>'margin:0; margin-top: 10px; text-align:center; margin: auto'}
	%h2{:style=>'margin-bottom: 50px;'} Details about #{@music.title}

	%table.table.table-hover.border.rounded{:style=>'margin:auto; max-width: 500px'}
		%tr
			%th{:style=>'white-space: nowrap; width: 1%; border-right:1px solid #dee2e6'} Author
			%td= @music.author
		%tr
			%th{:style=>'white-space: nowrap; width: 1%; border-right:1px solid #dee2e6'} Album
			%td= @music.album
		%tr
			%th{:style=>'white-space: nowrap; width: 1%; border-right:1px solid #dee2e6'} Year
			%td= @music.year

	%div.container{:style=>'margin-top:20px;'}
	%button.btn.btn-light.border #{link_to 'Add a review', new_music_review_path(@music), :style=>'text-decoration: none;'} 
	%button.btn.btn-light.border #{link_to 'Edit info', edit_music_path(@music), :style=>'text-decoration: none;'}
	%button.btn.btn-light.border #{link_to 'Delete', music_path(@music), :method => :delete, :style=>'text-decoration: none;'}
	%button.btn.btn-light.border #{link_to 'Back to track list', music_index_path, :style=>'text-decoration: none;'}
