-#Rende la pagina un container, per renderlo responsive
%div.container-fluid.mainContainer.displayContainer
	%h2{:style=>'margin-bottom: 50px;'} Details about #{@music.title}

	-#Table informazioni brano
	%table.table.table-hover.border.rounded{:style=>'margin:auto; max-width: 500px'}
		%tr
			-#style(white-space: nowrap; width: 1%) usato per togliere gli spazi per autoriempimento della casella
			%th{:style=>'white-space: nowrap; width: 1%; border-right:1px solid #dee2e6'} Author
			%td= @music.author
		%tr
			%th{:style=>'white-space: nowrap; width: 1%; border-right:1px solid #dee2e6'} Album
			%td= @music.album
		%tr
			%th{:style=>'white-space: nowrap; width: 1%; border-right:1px solid #dee2e6'} Year
			%td= @music.year 
		%tr
			-if (@id_music.present? && (current_user.admin? || current_user.premium?)) 
				%iframe{:allow => "encrypted-media", :allowtransparency => "true", :frameborder => "1", :height => "80", :src => "https://open.spotify.com/embed/track/" + @id_music, :width => "500", :id=>"preview"}

	%div.container{:style=>"margin-top: 20px"}
		= social_share_button_tag(:url=> request.original_url, desc: @music.title + " - by " + @music.author)

	-#Divisore
	%div.container{:style=>'margin-top:20px;'}

	-#Bottoni || class(fa) fanno parte di AwesomeFont, sono icone
	%button.btn.btn-light.border 
		%span.fa.fa-comment
		#{link_to 'Add a review', new_music_review_path(@music), :style=>'text-decoration: none;'} 	
	- if can? :destroy, Music
		%button.btn.btn-light.border 
			%span.fa.fa-pencil-square-o
			#{link_to 'Edit info', edit_music_path(@music), :style=>'text-decoration: none;'}
		%button.btn.btn-light.border 
			%span.fa.fa-trash-o
			#{link_to 'Delete', music_path(@music), :method => :delete, :style=>'text-decoration: none;'}
	%button.btn.btn-light.border 
		%span.fa.fa-list-ul
		#{link_to 'Back to track list', music_index_path, :style=>'text-decoration: none;'}

	-#Divisore
	%div.container{:style=>'margin-top: 30px'}
		%span{:style=>'font-weight: bold'} Reviews
		%table.table.table-sm.table{:style=>'margin:auto; max-width: 700px'}
			%tbody
				- @reviews.each do |review|
					%tr
						%td{:style=>'white-space: nowrap; width: 1%'}
							-#Ciclo while, mostra 5 stelle
							- (1..5).each do |i|
								-#Unless inserisce "color: orange" se !(i>review.musicman)
								%span.fa.fa-star{:style=>("color: orange" unless (i>review.musicman))}
						%td= review.comments
						
						- if can? :destroy, Review
							%td{:style=>'white-space: nowrap; width: 1%'}
								#{link_to 'Edit', edit_music_review_path(review)}
								-#In style, controllo se User attuale == User della review, oppure se è admin (id=1)
								%span.fa.fa-pencil-square-o
								-#stessa cosa vale qua
							%td{:style=>'white-space: nowrap; width: 1%'}
								#{link_to 'Remove', music_review_path(review), :method => :delete}
								-#In style, controllo se User attuale == User della review, oppure se è admin (id=1)
								%span.fa.fa-trash-o
								-#stessa cosa vale qua
	
