-#Navigation Bar
%nav.navbar.navbar-dark.bg-dark
	%a{:style=>'color: white', :href=>'#'} Logo
	-#Elemento a destra
	%div
		-#Mostra il nome dell'utente
		%span{:style=>'color: white', :href=>'#'}Salve #{@currentUser.name}
		-#Mostra il bottone per il Logout || class(navRight) in music.scss
		%button.btn.btn-light.navRight
			#{link_to 'Logout', logout_path, {:style=>'color: #007bff; text-decoration: none; font-weight: bold'}} 
			%span.fa.fa-sign-out

-#Rende la pagina un container, per renderlo responsive
%div.container-fluid{:style=>'margin:0; margin-top: 10px; text-align:center; margin: auto'}
	%h2{:style=>'margin-bottom: 50px;'} Details about #{@music.title}

	-#Table informazioni brano
	%table.table.table-hover.border.rounded{:style=>'margin:auto; max-width: 500px'}
		%tr
			-#style(white-space: nowrap; width: 1%) usato per togliere gli spazi per autoriempimento della casella
			%th{:style=>'white-space: nowrap; width: 1%; border-right:1px solid #dee2e6'} Author
			%td= @music.author
		%tr
			%th{:style=>'white-space: nowrap; width: 1%; border-right:1px solid #dee2e6'} Album
			%td= @music.album
		%tr
			%th{:style=>'white-space: nowrap; width: 1%; border-right:1px solid #dee2e6'} Year
			%td= @music.year 

	-#Divisore
	%div.container{:style=>'margin-top:20px;'}

	-#Bottoni || class(fa) fanno parte di AwesomeFont, sono icone
	%button.btn.btn-light.border 
		%span.fa.fa-comment
		#{link_to 'Add a review', new_music_review_path(@music), :style=>'text-decoration: none;'} 
	%button.btn.btn-light.border 
		%span.fa.fa-pencil-square-o
		#{link_to 'Edit info', edit_music_path(@music), :style=>'text-decoration: none;'}
	%button.btn.btn-light.border 
		%span.fa.fa-trash-o
		#{link_to 'Delete', music_path(@music), :method => :delete, :style=>'text-decoration: none;'}
	%button.btn.btn-light.border 
		%span.fa.fa-list-ul
		#{link_to 'Back to track list', music_index_path, :style=>'text-decoration: none;'}

	-#Divisore
	%div.container{:style=>'margin-top:20px;'}
		Reviews
		%table.table.table-sm.table{:style=>'margin:auto; max-width: 500px'}
			%tbody
				- @reviews.each do |review|
					%tr
						%td= review.musicman
						%td= review.comments
						%td{:style=>'white-space: nowrap; width: 1%'}
							#{link_to 'Edit', edit_music_review_path(review), :style=> ((@currentUser.id == review.musicgoer_id) || (@currentUser.id == 1) ? "visibility: visible" : "visibility:hidden")}
							-#In style, controllo se User attuale == User della review, oppure se è admin (id=1)
							%span.fa.fa-pencil-square-o{:style=> ((@currentUser.id == review.musicgoer_id) || (@currentUser.id == 1) ? "visibility: visible" : "visibility:hidden")}
							-#stessa cosa vale qua
			

	
