-#Navigation Bar
%nav.navbar.navbar-dark.bg-dark
    -#Logo
    #{link_to image_tag('Logo.png', size: '30x31', class: 'border rounded'), music_index_path}
    -#Elemento a destra
    %div
        -#Mostra il nome dell'utente
        %span{:style=>'color: white', :href=>'#'}Salve #{@currentUser.name}
        -#Mostra il bottone per il Logout || class(navRight) in music.scss
        %button.btn.btn-light.navRight
            #{link_to 'Logout', logout_path, class: "logoutBtn", data: {confirm: 'Are you sure to leave?'}} 
            %span.fa.fa-sign-out

%div.container-fluid.mainContainer.displayContainer

    %h2{:style=>'margin-bottom: 50px;'} Modify #{@review.id}

    %div.container.contForm{:style=>'max-width: 600px'}
        = form_tag music_review_path(@review), :method => :put do

            %div.form-group
                = label :review, :musicman, 'musicman', style:"font-weight: bold"
                = select :review, :musicman, [1,2,3,4,5], class:'form-control rounded border-dark insertText', required:'true'


            %div.form-group
                =label :review, :comments, 'comments', style:"font-weight: bold"
                =text_field :review, :comments, class:'form-control rounded border-dark insertText', required:'true'


            =submit_tag 'Save Changes'
