<!DOCTYPE html>
<html>
  <head>
    <title>Musicman1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-dark bg-dark'>
      <%= link_to image_tag('Logo.png', size: '30x31', class: 'border rounded'), music_index_path%>
      <%= form_tag music_index_path, :method => "get" do %>
        <%= label_tag(:search, "Search a track", style: 'color:white')%>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag("Search", :name=> nil, class: "btn btn-light") %>
      <% end %>
      <div>
        <% if user_signed_in? %>
          <span href="#" style="color: white">Salve <%= current_user.email%></span>
          <button class="btn btn-light navRight">
            <%= link_to 'Logout', destroy_user_session_path, class: "logoutBtn", data: {confirm: 'Are you sure to leave?'}, method: "delete" %>
            <span class="fa.fa-sign-out"></span>
          </button>
          <button class="btn btn-light navRight">
            <%= link_to 'User', edit_user_registration_path, class: "logoutBtn"%>
          </button>
        <% else %>
          <button class="btn btn-light navRight">
            <%= link_to 'Login', new_user_session_path, class: "logoutBtn" %>
            <span class="fa.fa-sign-out"></span>
          </button>

          <button class="btn btn-light navRight">
            <%= link_to 'Register', new_user_registration_path, class: "logoutBtn" %>
            <span class="fa.fa-sign-out"></span>
          </button>
          <% end %>
      </div>
    </nav>
    <div class="container-fluid mainContainer displyaContainer">
      <%= yield %>
    </div>
  </body>
</html>